# general exclusions
.DS_Store

# exclude changes to root directory
*
/.*/

# Explicit inclusions
!*/
!/.github/**
!/.vscode/**

!.editorconfig
!.eslintrc
!.gitattributes
!.gitignore
!.npmrc
!.prettierignore
!.prettierrc.json

!igniter.config.mjs
!a333x-igniter.config.mjs
!jsconfig.json

!package.json
!package-lock.json

/hdw-a339x-liveries/*
!/hdw-a339x-liveries/src/
!/hdw-a339x-liveries/src/**

/hdw-su95-liveries/*
!/hdw-su95x-liveries/src/
!/hdw-su95x-liveries/src/**

/hues-a339x-cfg/*
!/hues-a339x-cfg/src/
!/hues-a339x-cfg/src/**

/hues-a339x-dal/*
!/hues-a339x-dal/src/
!/hues-a339x-dal/src/**

/hues-a339x-vir/*
!/hues-a339x-vir/src/
!/hues-a339x-vir/src/**

/hues-a339x-vkg/*
!/hues-a339x-vkg/src/
!/hues-a339x-vkg/src/**

!/scripts/**

!/build-utils.js

# explicit exclusions
/.env
node_modules/
obj/
target/
*.tgz
*.wasm
